<div class="card">
  <div class="container">
    <h4 style="text-align:center"><b>Futgolito</b></h4> 
    <div class="ajusteTexto">
    <p>Ha llegado el momento que has esperado toda la semana. El momento por el cual has puesto horas de esfuerzo y aún más horas de sudor. Sin más, finalmente suena el silbatazo y comienza la intensidad de tu partido de fútbol amateur.</p> 
    <p>Por fin.</p> 
    <p>Sientes empujones, jalones, faltas, pero no te das por vencido. Nunca. Cada vez que tocas el balón, escuchas los gritos que provienen desde fuera de la cancha. Papás, mamás, hermanos, hermanas, tíos, tías, primos, primas, amigos, absolutamente todos están ahí. </p> 
    <p>Cada grito te hace crecer más. Cada grito te hace ponerle más garra y corazón porque eres un guerrero. Y no te vas a rendir.  Recuperas el balón, lo controlas, y tiras. La comunidad fuera del campo se vuelve loca al ver el balón cruzar la raya de gol. Te sientes bien. Hoy, eres el héroe. </p> 
    <p>Así, el sentimiento que te da la comunidad futbolera es como ningún otro.  Ellos son la razón de sentir tanta pasión y amor por este deporte.</p> 
    <p>Y créeme, esa misma pasión que sientes tú la sentimos nosotros. Crecimos jugando futbol amateur como tú.  Somos parte de tu comunidad y te apoyaremos en los triunfos y en las derrotas.</p> 
    <p>Vamos juntos a crecer y lograr así la visión de una comunidad unida por todos los que sienten la misma pasión por el futbol como la sentimos nosotros.</p> 
    <p>Es por eso que llegamos a existir.  Somos Futgolito y es nuestra misión brindar el apoyo necesario a las comunidades para hacer crecer el fútbol amateur, recreacional, local, llanero, o como tú lo quieras llamar. </p> 
    <p>Le hacemos el trabajo más fácil y rápido al encargado o encargada de tu liga dándole acceso gratuito a nuestra plataforma donde se llevan las estadísticas de forma automática.  Después de tanto soñarlo, tú tendrás acceso a todos los detalles de tu liga. </p> 
    <p>Ya no tienes que preguntar ni esperar para saber a qué hora juegas, cómo quedaron los otros equipos, o cómo va la tabla de posiciones. Hemos llegado para darte la oportunidad de cumplir ese sueño que tanto has anhelado: jugar en una liga con todas las características de una profesional pero al lado de tus amigos.</p> 
    <p>Vamos juntos a crecer y lograr así la visión de una comunidad unida por todos los que sienten la misma pasión por el futbol como la sentimos nosotros.</p>
  </div>
  </div>
</div>