<br>
<br>
<div class="titulo">
    <p>Selecciona tu Liga o Torneo</p>
</div>
<br>
<div role="tablist" id="accordion-1">
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1">Liga de futbol rápido HDZ</a></h5>
            </div>
            <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
                <div class="card-body">
                        <div><a href="#">Copa 2018</a></div>
                        <div><a href="#">Liga 2018</a></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="div#accordion-1 .item-2">Liga de futbol 7 </a></h5>
            </div>
            <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                <div class="card-body">
                    <div><a href="#">Copa 2018</a></div>
                    <div><a href="#">Liga 2018</a></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="div#accordion-1 .item-3">Liga Nocturna Mochis</a></h5>
            </div>
            <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                <div class="card-body">
                    <div><a href="#">Apertura 2018</a></div>
                    <div><a href="#">Clausura 2018</a></div>
                </div>
            </div>
        </div>
    </div>