.navbar-login
{
    width: 305px;
    padding: 30px;
    padding-bottom: 30px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 10px;
    padding-top:10px;
}

.icon-size
{
    font-size: 87px;
}