<app-headerpresidente></app-headerpresidente>
<div class="row register-form">
    <div class="col-md-8 offset-md-2">
        <form class="custom-form">
            <h1>Registro de Torneo</h1>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label for="name-input-field" class="col-form-label">Nombre de la Liga</label></div>
                <div class="col-sm-6 input-column"><input type="text" class="form-control" /></div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label for="name-input-field" class="col-form-label">Nombre del Torneo</label></div>
                <div class="col-sm-6 input-column"><input type="text" class="form-control" /></div>
            </div><button class="btn btn-light submit-button" type="button">Registrar Torneo</button></form>
    </div>
</div>