<app-headerpresidente></app-headerpresidente>
<br>
<h1 style="text-align: center;">Equipos de Fútbol</h1>
<br>
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
      <tr>
          <th style="width: 20%">
              Numero de Equipo
           </th>
          <th style="width: 20%">
             Nombre de Liga
          </th>
          <th style="width: 20%">
                Nombre de Equipo
            </th>
          <th style="width: 20%">
              Nombre DT
          </th>
          <th style="width: 20%">
            Acciones
          </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data">
          <td>{{item.numero}}</td>
          <td>{{item.nombreLiga}}</td>
          <td>{{item.nombreEquipo}}</td>
          <td>{{item.nombreDt}}</td>
          <td><button [id]="item.numero" type='button' (click)='calificar()' class='btn btn-warning' title='Calificar'><i class='fas fa-chalkboard-teacher'></i></button><button type='button' (click)='faltas()' class='btn btn-danger' title='Faltas'><i class='fas fa-calendar-times'></i></button></td>
      </tr>
      </tbody>
  </table>
</div>
<br>
<div class="col-12 text-center">
    <button  routerLinkActive="active" class="nav-link" routerLink="/registrarequipo" type="button" class="btn btn-primary">REGISTRAR EQUIPO</button>
  </div>

